<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/page/head.ejs %>
  </head>
  <body>
    <% include partials/page/header.ejs %>
  <div class="container-fluid">
    <!-- body -->

  <img src="videos/overview.png" class="img-responsive center-block" alt="Responsive image">
<% include partials/page/jsdefaults.ejs %>
  </div>
  </body>
</html>