

  <img src="videos/overview.png" class="img-responsive center-block" alt="Responsive image">


<blockquote  class="text-center">
  <p class="text-center">"If a picture is worth a 1 000 words then a video is worth 25 000 words per seconds"</p>
  <small class="text-center">Someone, <cite title="Source Title">Somewhere on the web</cite></small>
</blockquote>