
<script type='text/javascript'>
// passing hypertranscript data structure to the client side
//http://stackoverflow.com/questions/27787204/pass-variable-from-express-to-client-javascript
console.log(hypertranscript);
var hypertranscript = <%- JSON.stringify(locals.hypertranscript) %> ;
// var videoId = <%- JSON.stringify(locals.hypertranscript.video.id) %> ;
</script>
<div class="container-fluid">
<% if(locals.hypertranscript){ %>
  <!-- To share var with dom -->
  <script>var h = '<%= locals.hypertranscript.title %>';</script>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <input type="search" class="form-control" id="searchTranscript" placeholder="search">
      <% include partials/hypertranscript/hypertranscript_render_text.ejs %>
        <!-- end of if transcript exists -->
    </div> <!-- col -->

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <!-- Video reps 16:9 aspect ratio -->
      <!-- <div class="embed-responsive embed-responsive-16by9"> -->
      <video width="100%" height="auto" class="embed-responsive-item" id="transcriptVideo" controls>
        <source src="<%=  "/"+ hypertranscript.video.src %>" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML5 video.
      </video>
      <!--  </div> --> <!-- resp video -->

   <p class="help-block"><small>Select a line of text from the transcription to generate a video quote</small></p>
   <hr>
<div id="validationNotice"></div>
        <!-- <div class="well"> -->
        <!-- Quote selection Text area-->

<!--  -->
   <label class="control-label" for="textQuote">Status</label>
    <textarea  class="form-control quote" id="textQuote" rows="4" cols="50" >
    
    </textarea>
    <br>
<!-- progress -->
<div class="progress">
    <div class="progress-bar" id="progress-bar" role="progressbar" data-transitiongoal="75"></div>
</div>

<!-- progress  end -->
<div class="row" >
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
    <div class="form-group">
      <label class="control-label" for="focusedInput">Characters</label>
      <input class="form-control" id="characters" type="text" value="0"disabled="">
    </div>
 </div><!-- col-->
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
    <div class="form-group">
      <label class="control-label" for="disabledInput">Duration</label>
      <input class="form-control" id="duration" id="disabledInput" type="text" value="00.00" disabled="">
       <span class="help-block">Seconds</span>
    </div>
 </div><!-- col-->
</div><!-- row-->
    <!-- Quote Selection author field-->
   <!--  <div class="form-group">
      <label class="control-label" for="focusedInput">Author</label>
      <input class="form-control" id="author" id="focusedInput" type="text" placeholder="Author of Quote">
    </div> -->
    <!-- input output duration-->
    <div class="row" >
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
    <div class="form-group">
      <label class="control-label" for="focusedInput">In</label>
      <input class="form-control" id="input" type="text" value="00:00:00:00"disabled="">
    </div>
      </div><!-- col-->
      <!-- Output field-->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
    <div class="form-group">
      <label class="control-label" for="focusedInput">Out</label>
      <input class="form-control" id="output" type="text" value="00:00:00:00"disabled="">
    </div>
       </div> <!-- col-->
      <!-- Duration-->
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" >
  
    </div><!-- col-->
<!--Buttons preview and Export, Buttons trigger modal -->
  </div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
      <!-- Preview button-->
    <!--   <button type="button" class="btn btn-sm btn-warning" id="preview" data-toggle="modal" data-target="#previewModal">
        Preview
      </button> -->
      <!-- Export button-->
      <button type="button" class="btn btn-sm btn-success el el-twitter" id="export" data-loading-text="Tweeting...">  Tweet <b class="el el-video"></b> <b class="el el-quote-right-alt"></b>
    </button>
      </div>
    </div><!-- col-->


<% include partials/page/jsdefaults.ejs %>
<script>
// $(function() {
// var twitterBtn =document.getElementById("twitterExportbtn");
// twitterBtn.click();
// });
</script>

    </div> <!-- col -->
</div> <!-- row -->

<% }%><!-- end of if locals.hypertranscript  -->



<!-- includes js script that makes hypertranscript interactive with video --> 

<% include partials/hypertranscript/hypertranscript_interactivity.ejs %>
<% include partials/hypertranscript/hypertranscript_select.ejs %>
<% include partials/hypertranscript/hypertranscript_export_quote.ejs %>

<% include partials/page/jsdefaults.ejs %>



