<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/page/head.ejs %>
  </head>
  <body>
    <% include partials/page/header.ejs %>
  <div class="container-fluid">
    <!-- body -->

    <%- body %>

<% include partials/page/jsdefaults.ejs %>

<footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted"><!-- Page footer -->
<% include partials/page/footer.ejs %>

</p>
      </div>
    </footer>


  </div> <!-- container -->
  </body>
</html>