<!-- hypertranscript.ejs to render hypertranscript span tags iterating over hypertranscript's json object -->
<div class="transcriptionContainer">
	<% if(!hypertranscript.words.length == 0){%>
<article class="transcription">
	<!-- use <section> for different speakers if  -->
	<p class="line">
	<% for(var i=0; i < hypertranscript.words.length; i++ ){ %>
		<% var word = hypertranscript.words[i]; %>
		<span class="transcriptWords" id=<%= word.id %> startTime=<%= word.startTime %> endTime=<%= word.endTime %> ><%= word.text %></span>
			<% if (word.text.indexOf(".")!= -1){ %>
				<!-- if punctuation is present then closes p tag -->
				</p><p>
			<% } %>
		<% }%>
</article>

<% }else{ %>
<br>
<div class="alert alert-dismissible alert-success">
  Transcriptions being processed.
</div>
     <!-- Export button-->
      <button type="button" class="btn btn-sm btn-success" id="check" data-loading-text="Checking...">  Check <b class="el el-video"></b> <b class="el el-align-justify"></b>
    </button>

<% } %>

</div> <!-- transcriptionContainer -->
<!-- transcript interactivity -->
